#mandamentos div {
	margin-top: 15px;	
}

.membro-equipe {
  float: left;
  width: 300px;
  padding: 20px;
  margin: 15px;
  background-color: #f5f5f5;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px; 
}
.membro-equipe h1 {
  margin-bottom: 0;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -1px;
}
.membro-equipe p {
  font-size: 14px;
  font-weight: 200;
  line-height: 27px;
}

.fundo-icone {
	background-repeat: no-repeat;
	background-position: 95% 50%;
}

.icone-ubuntu 			{ background-image: url('../img/headers/ubuntu.png'); }
.icone-windows 			{ background-image: url('../img/headers/windows.png');}
.icone-sobre 			{ background-image: url('../img/headers/robo.png');}
.icone-guia 			{ background-image: url('../img/headers/guia.png');}
.icone-armazenamento 	{ background-image: url('../img/headers/armazenamento.png');}
.icone-senha 			{ background-image: url('../img/headers/chave.png');}

.img-armazenamento {
	padding: 20px;
	margin: 0 auto;
	text-align: center;
	display:block; 
}

.img-armazenamento-small {
	width: 70%;
	height: auto; 
}